/*=================
===== BUTTONS =====
=================*/

.btn-2 {
	position: relative;
	z-index: 100;
	padding: 2% 4%;
	cursor: pointer;
	font-size: 1.2rem;
  color: white;
	text-transform: uppercase;
	background: transparent;
	margin-top: 25px;
}

.secondary-btn {
  display: inline-block;
  background: transparent;
	border-style: solid;
  border-color: #cdb98e;
	border-width: thin;
}

/*===============
===== MEDIA =====
===============*/

/*==== GALAXY S8 =====*/
@media only screen
and (min-device-width: 360px)
and (max-device-width: 767px)
and (orientation: portrait) {
}
/*==== iPHONE PLUS - portrait =====*/
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (orientation: portrait) {
}
/*==== iPAD =====*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
}

/*========================
===== CALL TO ACTION =====
========================*/

.call-to-action {
   display: inline-block;
   width: 100%;
}

.call-to-action .wrapper {
	position: relative;
	max-width: 1200px;
	margin: auto;
	padding: 40px 25px 40px 25px;
	font-size: 0px;
}

.call-to-action h5{
	color: #cdb98e;
}

/*================
===== FOOTER =====
================*/

footer {
	position: relative;
	padding: 2%;
	background: #232323;
}

footer img{
	margin: 0 15px 0 15px ;
}

.footer h3 {
  font-size: 1.25rem;
	font-weight: 300;
  letter-spacing: .25rem;
}

.footer-box {
	display: inline-block;
	vertical-align: top;
	margin: 7%;
	min-width: 150px;
}

footer li {
	list-style-type: none;
	padding-bottom: 5px;
	color: gray;
}


footer li a {
	display: inline-block;
	color: gray;
}

.back-to-top {
	position: absolute;
	top:-40px;
	left: 50%;
	margin-left:-50px;
	background: #2c3e50;
	border: solid #2c3e50 10px;
}

footer .back-to-top i {
  width: 80px;
  height: 80px;
  font-size: 30px;
}

.footer2 {
  width: 100%;
	padding: 2%;
  background: #303030;
}

.footer2 a {
color: #A9A9A9;
}
