{
  border-style: dashed;
  color: blue;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: #fffcf9;
  text-align: center;
  overflow-x: hidden;
}

.col-3{
  width: 50%;
  margin: auto;
  margin-bottom: 5%;
}

/*===============
===== MEDIA =====
===============*/

/*==== GALAXY S8 =====*/
@media only screen
and (min-device-width: 360px)
and (max-device-width: 767px)
and (orientation: portrait) {
}
/*==== iPHONE PLUS - portrait =====*/
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (orientation: portrait) {

  iframe{
    width: 100%;
  }

  .fresh-sausage .col-3{
    width: 90%;
  }

  .pork-cuts .col-3{
    width: 90%;
  }

  .bacon .col-3{
    width: 90%;
  }

  .charcuterie .col-3{
    width: 90%;
  }

  .specialties .col-3{
    width: 90%;
  }

}
/*==== iPAD =====*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
}

/*==============
===== LINE =====
==============*/

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  margin: 50px auto 25px auto;
  width: 200px;
}

.imgico {
  width: 40px;
  margin-top: 50px;
}

.border {
  border-style: solid;
  color: #e8e6e1;
  border-width: 1px;
}

/*==============
===== FONT =====
==============*/

h2 {
  font-size: 42px;
  text-align: center;
  color: #4f4f4f;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  color: #4f4f4f;
}

h4 {
  letter-spacing: 1px;
  color: #b58920;
}

p {
  font-family: 'EB Garamond';
  font-size: 16px;
  letter-spacing: 1px;
  padding: 0 15px 0 15px;
  text-align: center;
  color: #4f4f4f;
}

/*====================
===== NAVIGATION =====
====================*/

.navigation {
	position: absolute;
  height: 100px;
	z-index: 1000;
	width: 100%;
}

.navigation li {
  padding-top: 30px;
  display: inline-block;
  float: right;
}

.navigation li a {
  font-size: 1rem;
  color: white;
  font-family: 'Oswald', sans-serif;
  padding: 0 10px 0 10px;
}

.navigation img {
  width: 35px;
  margin-top: -5px;
}


/*==============
===== HOME =====
==============*/

.home {
  position: relative;
  background-image: url('../images/meat-shed-menu-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home img{
  margin: 250px 0 250px 0;
  width: 30%;
}

/*=======================
===== FRESH SAUSAGE =====
=======================*/

.fresh-sausage {
  position: relative;
  background-image: url('../images/menu-freshsausage.jpg');
  background-size: cover;
  background-position: center;
}

/*=======================
===== PORK CUTS =====
=======================*/

.pork-cuts {
  position: relative;
  background-image: url('../images/menu-pork-cuts.jpg');
  background-size: cover;
  background-position: center;
}

/*===============
===== BACON =====
===============*/

.bacon {
  position: relative;
  background-image: url('../images/menu-bacon.jpg');
  background-size: cover;
  background-position: center;
}

/*=======================
===== CHARCUTERIE =====
=======================*/

.charcuterie {
  position: relative;
  background-image: url('../images/menu-charcuterie.jpg');
  background-size: cover;
  background-position: center;
}

/*=====================
===== SPECIALTIES =====
=====================*/

.specialties {
  position: relative;
  background-image: url('../images/menu-specialties.jpg');
  background-size: cover;
  background-position: center;
}
