/*====================
===== NAVIGATION =====
====================*/

.navigation {
	position: absolute;
  height: 100px;
	z-index: 1000;
	width: 100%;

	vertical-align: middle;
}

.navigation li {

  display: inline-block;
  float: right;
}

.navigation li a {
  font-size: .75rem;
	letter-spacing: 5px;
  color: white;
  font-family: 'Oswald';
  padding: 0 40px 0 40px;
	font-weight: 300;
}

.navigation img {
  width: 40px;

}
